html{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
body{
    align-items: center;
    background: white;
    box-sizing: border-box;
    display: flex;
    font-family: Helvetica;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: 0.5s;
}
.buttonContainer {
    align-items: center;
    background: #217245;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 4%;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
}
.actionButton {
    background: none;
    border: none;
    border-left: 0.01vw solid black;
    border-right: 0.01vw solid black;
    color: #dce6e9;
    cursor: pointer;
    font-size: 0.9vw;
    height: 100%;
    transition: 0.5s;
    width: 6%;
}
.actionButton:hover{
    background: #036036;
}
.actionButton:active{
    background: #036036;
}
input#colorPickerElement {
    display: none;
    transition: 0.5s;
}
.tableContainer {
   align-items:center; 
   display:flex; 
   height : 96%; 
   justify-content:center; 
   margin : 2% 0 0 0; 
   width : 100%; 
   transition: 0.5s;
}
.dataTable {
   align-items:flex-start; 
   display:flex; 
   flex-direction : column; 
   flex-wrap : nowrap; 
   height : 98%; 
   justify-content : flex-start; 
   width : 98%; 
   transition: 0.5s;
}
tbody {
   height :100%; 
   width :100%; 
   transition: 0.5s;
}
.tableColumn{
   align-items:center; 
   display:flex; 
   flex-direction : row; 
   flex-wrap : nowrap; 
   justify-content : flex-start; 
   width : 100%; 
   transition: 0.5s;
}
.tableRow {
    border: 0.25vw solid black;
    padding: 0.75%;
   text-align:center; 
   font-size: 1vw;
   transition: 0.5s;
}
.tableRow:focus{
    outline: none;
    transition: 0.5s;
}